@model Infraestructure.Models.reservacion

@{
    ViewBag.Title = "Details";
}

<br />
<center>   <h4 style="font-family: Broadway">Reservación detalle</h4></center>
<hr />

<center>
    <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-header"><b> @Html.DisplayNameFor(model => model.id): </b> @Html.DisplayFor(model => model.id)</div>
        <div class="card-body">

            <p class="card-text">
                <i class="fa-regular fa-user"></i> <b>@Html.DisplayNameFor(model => model.usuario):</b>
                <br />
                @Html.DisplayFor(model => model.usuario)
            </p>
            <p class="card-text">
                <i class="fa-regular fa-user"></i> <b>@Html.DisplayNameFor(model => model.detalle):</b>
                <br />
                @Html.DisplayFor(model => model.detalle)
            </p>
            <p class="card-text">
                <b>@Html.DisplayNameFor(model => model.areaComun.fechaDisponible):</b>
                <br />
                @Html.DisplayFor(model => model.areaComun.fechaDisponible)
            </p>
            <p class="card-text">
                <b>@Html.DisplayNameFor(model => model.areaComun.horaDisponible):</b>
                <br />
                @Html.DisplayFor(model => model.areaComun.horaDisponible)
            </p>

            <p class="card-text" style="font-weight: 500;">
                <i class="fa-solid fa-circle-user"></i>
                <b>@Html.DisplayNameFor(model => model.estado):</b>
                @if (Model.estado == 1)
                {
                    <text>Reservado</text> }
                else
                {
                    <text>Sin reservar</text>}
            </p>
        </div>
    </div>

    <p>

        @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-outline-primary" })
    </p>
</center>