@model Infraestructure.Models.reservacion

@{
    var reservacion = new List<Infraestructure.Models.reservacion>();
    reservacion = ViewBag.lista;
    ViewBag.Title = "Index";
    var reservacionFiltrada = new List<Infraestructure.Models.reservacion>();
}


<br />
<center><h4 style="font-family: Broadway">Historial de Reservas</h4></center>
<br />
<div class="text-center row">

    <div class="col-lg-2 col-md-2 col-sm-6">
        @Html.DropDownListFor(model => model.estado,
           (SelectList)ViewBag.listaValueEstado,
           "Todos",
           htmlAttributes: new { @class = "form-control", @id = "idestado" })
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6">
        <button class="btn btn-primary" onclick="Filtrar()"><i class="fa-solid fa-magnifying-glass"></i> Buscar</button>
    </div>

</div>

<br />
<div>

    <span class="glyphicons glyphicons-hand-left"></span>
    <div id="tablaReservas">
        @Html.Partial("_PartialViewListaReservasEstado", reservacion)
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function Filtrar() {
            var idEstado = $("#idestado").val();


            $.ajax({
                url: '@Url.Action("obtenerFiltro1", "Reservacion")',
                type: 'POST',
                data: {
                    estado: idEstado,

                },
                success: function (result) {
                    $('#tablaReservas').html('');
                    $('#tablaReservas').html(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

         function Guardar(idReserva) {
            var id = idReserva;
            $.ajax({
                url: '@Url.Action("Edit", "Reservacion")',
                type: 'POST',
                data: {
                    'id': id,
                },
                success: function (result) {
                    $('#tablaReservas').html('');
                    $('#tablaReservas').html(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

            function Denegar(idReserva) {
            var id = idReserva;
            $.ajax({
                url: '@Url.Action("Denegar", "Reservacion")',
                type: 'POST',
                data: {
                    'id': id,
                },
                success: function (result) {
                    $('#tablaReservas').html('');
                    $('#tablaReservas').html(result);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }
    </script>
   
} 