@model IEnumerable<Infraestructure.Models.reservacion>

@{
    ViewBag.Title = "Reservación";
}


<br />
<p>
    <a href="@Url.Action("Create", "reservacion")" type="button" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> Crear</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.areaComun.detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.areaComun.detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
       
       
        <td>
            @if (item.estado == 1)
            {
                <text>Aprobado</text>
            }
            else
            {
                <text>Denegado</text>
            }
        </td>
       
        <td>
            @Html.ActionLink("Denegar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Aprobar", "Edit", new { id=item.id })
        </td>
    </tr>
}

</table>
