@model IEnumerable<Infraestructure.Models.informacion>

@{
    ViewBag.Title = "Información";
}
<br />
<br />


<center><h4 style="font-family:Broadway">Tareas informativas</h4></center>

<p>
    <a href="@Url.Action("Create", "informacion")" type="button" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> Crear</a>
</p>
<table class="table">
    <tr class="table-dark">
 <th>
            @Html.DisplayNameFor(model => model.detalle)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>Por hacer</th>
    </tr>

    @foreach (var item in Model)
    {
<tr class="table-secondary">

    <td>
        @Html.DisplayFor(modelItem => item.detalle)
    </td>

    <td>
        @if (item.tipo == 1)
        {
            <text>Noticicas</text>
        }
        else
        {
            if (item.tipo == 2)
            {
                <text>Actas</text>
            }
            else
            {
                <text>Artículos</text>
            }
        }
    </td>
    <td>
        @if (item.estado == 0)
        {
            <text>Visible</text>
        }
        else
        {
            <text>Oculta</text>
        }
    </td>
    <td>
        <a href="@Url.Action("Edit", new { id = item.id })" class="badge rounded-pill bg-warning" style="color:black">Actualizar</a>

    </td>
</tr>
    }

</table>
