<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SMARTHOUSE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="~/Utils/imagenes/LogoSmartHouse-removebg-preview.png">
    @RenderSection("styles", required: false)

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            @Html.ActionLink("Principal", "Index", "Home",
               null, new { @class = "nav-link" })
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    @* Información usuario *@
                    @{
                        String nombre = "";
                        String email = "Perfil";

                        if (Session["User"] != null)
                        {
                            Infraestructure.Models.usuario usuario = new Infraestructure.Models.usuario();
                            usuario = (Infraestructure.Models.usuario)Session["User"];
                            nombre = $"{usuario.nombre} {usuario.apellido}";
                            email = usuario.Email;
                        }
                    }

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                           href="#" role="button" aria-haspopup="true"
                           aria-expanded="false"><i class="fa-solid fa-user"></i>@email</a>


                        <div class="dropdown-menu">
                            @if (Session["User"] != null)
                            {
                                <div class="dropdown-item">
                                    @* Nombre Usuario *@
                                    Usuario: @nombre
                                </div>
                            }

                            @if (Session["User"] == null)
                            {
                                <a class="dropdown-item"
                                   @*Accion, Controlador*@
                                   href="@Url.Action("Index","Login")">
                                    <i class="fa-solid fa-user-plus"></i>
                                    Login
                                </a>
                            }
                            else
                            {
                                <a class="dropdown-item"
                                   href="@Url.Action("Logout","Login")">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                    Logout
                                </a>
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("footer", false)
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
    @*@Scripts.Render("~/bundles/bootstrap")*@

    @Scripts.Render("~/bundles/sweetalert")

    @RenderSection("scripts", required: false)
    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(ViewBag.NotificationMessage)
        </script>
    }
</body>
</html>

