

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:80px">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <img src="~/Utils/imagenes/LogoSmartHouse-removebg-preview.png" width="160px" , height="160px" />
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    @Html.ActionLink("Principal", "Index", "Home",
               null, new { @class = "nav-link" })

                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Crear Incidencia</a>
                    <div class="dropdown-menu">

                        @Html.ActionLink("Ir a crear", "Create", "incidencia", null, new { @class = "dropdown-item" })

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Áreas</a>
                    <div class="dropdown-menu">

                        @Html.ActionLink("Ver Áreas Comunes", "Index", "areaComun", null, new { @class = "dropdown-item" })

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Historiales</a>
                    <div class="dropdown-menu">


                        @Html.ActionLink("Mi Historial de Reservas", "IndexEstado", "reservacion", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Mis Estados de Cuenta", "IndexEstadosxMesxUsuario", "planresidencia", null, new { @class = "dropdown-item" })

                    </div>
                </li>


                <li class="nav-item dropdown">
                    @* Información usuario *@
                    @{
                        String nombre = "";
                        String email = "Perfil";

                        if (Session["User"] != null)
                        {
                            Infraestructure.Models.usuario usuario = new Infraestructure.Models.usuario();
                            usuario = (Infraestructure.Models.usuario)Session["User"];
                            nombre = $"{usuario.nombre} {usuario.apellido}";
                            email = usuario.Email;
                        }
                    }

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       href="#" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa-solid fa-user"></i>@nombre</a>


                    <div class="dropdown-menu">
                        @if (Session["User"] != null)
                        {
                            <div class="dropdown-item">
                                @* Nombre Usuario *@
                                Usuario: @nombre
                            </div>
                        }

                        @if (Session["User"] == null)
                        {
                            <a class="dropdown-item"
                               @*Accion, Controlador*@
                               href="@Url.Action("Index","Login")">
                                <i class="fa-solid fa-user-plus"></i>
                                Login
                            </a>
                        }
                        else
                        {
                            <a class="dropdown-item"
                               href="@Url.Action("Logout","Login")">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Logout
                            </a>
                        }
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>
