
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:80px">
    <div class="container-fluid">

        <form class="d-flex" role="search">
            <img src="~/Utils/imagenes/LogoSmartHouse-removebg-preview.png" width="150px" , height="150px" />
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">

            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Página Principal
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Listados</a>
                    <div class="dropdown-menu">

                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Residencia", "Index", "residencia", null, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Plan Cobro", "Index", "planCobro", null, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Plan Residencia", "Index", "planResidencia", null, new { @class = "dropdown-item" })
                        <div class="dropdown-divider"></div>
                        @Html.ActionLink("Incidencia", "Index", "incidencia", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                @* Texto Usuario, Accion, Controlador*@
                <li>
                    @Html.ActionLink("Acerca de", "About", "Home",
               null, new { @class = "nav-link" })
                </li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home", null, new { @class = "nav-link" })</li>

            </ul>
            <form class="d-flex" role="search" style="background-color:#157394">
                <button class="btn btn-outline-success" type="submit" style="color:#3c444c">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</nav>
