@model IEnumerable<Infraestructure.Models.plan_residencia>
@using System.Globalization

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card border-0 shadow-lg mb-4">
                <div class="card-body">
                    <h5 class="card-title mb-3">Casa @Html.DisplayFor(modelItem => item.residencia.numeroCasa)</h5>
                    <p class="card-text mb-2">Propietario: @Html.DisplayFor(modelItem => item.residencia.usuario1.nombre) @Html.DisplayFor(modelItem => item.residencia.usuario1.apellido) @Html.DisplayFor(modelItem => item.residencia.usuario1.apellido2)</p>
                    <p class="card-text mb-4">Fecha: @CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.fecha.Month)</p>
                    <p class="card-text mb-2 estado @if (item.estado == 0) { <text>text-danger</text> } else { <text>text-success</text> }">
                        @if (item.estado == 0)
                        {
                            <text>Sin pagar </text>
                        }
                        else
                        {
                            <text>  Pagado</text>
                        }
                    </p>
                    <a href="@Url.Action("Details", new { id = item.id })" class="btn btn-outline-info"><i class="fas fa-info-circle mr-2"></i>Detalles</a>
                </div>
            </div>
        </div>
    }
</div>
<style>
    .estado.text-danger {
        color: red;
    }

    .estado.text-success {
        color: green;
    }
</style>

