@model Infraestructure.Models.plan_residencia

@{
    ViewBag.Title = "Details";
}



<div>
    <br />
    <h4 style="font-family: Broadway">Detalle Estado de Cuenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.residencia.usuario1.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.residencia.usuario1.nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.residencia.numeroCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.residencia.numeroCasa)
        </dd>
    </dl>
</div>
<div>
    <h4>Estados Pagados</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.plan_cobro.detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
        </tr>


        @foreach (var c in ViewBag.EstadosPagados)
        {
    <tr>
        <th>
            @c.plan_cobro.detail
        </th>
        <th>
          <text>Pagado</text>
        </th>
    </tr>
        }

    </table>
</div>


<div>
    <h4>Estados Pendientes</h4>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.plan_cobro.detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
               Transacción
            </th>

        </tr>


        @foreach (var c in ViewBag.EstadosPendientes)
        {
    <tr>
        <th>
            @c.plan_cobro.detail
        </th>
        <th>
            <text>Pendiente</text>
        </th>
        <th>

            @Html.ActionLink("Pagar mi pendiente", "Edit", new { id = c.id })
        </th>
    </tr>
        }

    </table>
</div>


<p>

    @Html.ActionLink("Volver a los estados de cuenta", "IndexEstadosxMes")
</p>
