@model Infraestructure.Models.plan_residencia

@{
    ViewBag.Title = "Details";
}



<div>


    <br />
    <center> <h4 style="font-family: Broadway">Detalle Estado de Cuenta</h4></center>

    <hr />
    <center>
        <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
            <div class="card-header">Casa: @Html.DisplayFor(model => model.residencia.numeroCasa)</div>
            <div class="card-body">
                Nombre:
                @Html.DisplayFor(model => model.residencia.usuario1.nombre)
                @Html.DisplayFor(model => model.residencia.usuario1.apellido)
                @Html.DisplayFor(model => model.residencia.usuario1.apellido2)
                <br />
                Identificación:
                @Html.DisplayFor(model => model.residencia.usuario1.identificacion)
                <br />
                Correo:
                @Html.DisplayFor(model => model.residencia.usuario1.Email)

            </div>
        </div>
    </center>

</div>
<div>
    <h4>Estados Pagados</h4>
    <table class="table">
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.plan_cobro.detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
        </tr>


        @foreach (var c in ViewBag.EstadosPagados)
        {
            <tr>
                <th>
                    @c.plan_cobro.detail
                </th>
                <td>
                    @switch (@c.fecha.Month)
                    {
                        case 1:
                            <text>Enero</text>
                            break;
                        case 2:
                            <text>Febrero</text>
                            break;
                        case 3:
                            <text>Marzo</text>
                            break;
                        case 4:
                            <text>Abril</text>
                            break;
                        case 5:
                            <text>Mayo</text>
                            break;
                        case 6:
                            <text>Junio</text>
                            break;
                        case 7:
                            <text>Julio</text>
                            break;
                        case 8:
                            <text>Agosto</text>
                            break;
                        case 9:
                            <text>Septiembre</text>
                            break;
                        case 10:
                            <text>Octubre</text>
                            break;
                        case 11:
                            <text>Noviembre</text>
                            break;
                        case 12:
                            <text>Diciembre</text>
                            break;
                        default:
                            <text>Mes no válido</text>
                            break;
                    }
                </td>
                <th>
                    <text>Pagado</text>
                </th>
            </tr>
        }

    </table>
</div>


<div>
    <h4>Estados Pendientes</h4>
    <table class="table">
        <tr class="table-warning">
            <th>
                @Html.DisplayNameFor(model => model.plan_cobro.detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                <i class="fa fa-address-card" aria-hidden="true"> </i>
                Transacción
            </th>

        </tr>


        @foreach (var c in ViewBag.EstadosPendientes)
        {
            <tr>
                <th>
                    @c.plan_cobro.detail
                </th>
                <td>
                    @switch (@c.fecha.Month)
                    {
                        case 1:
                            <text>Enero</text>
                            break;
                        case 2:
                            <text>Febrero</text>
                            break;
                        case 3:
                            <text>Marzo</text>
                            break;
                        case 4:
                            <text>Abril</text>
                            break;
                        case 5:
                            <text>Mayo</text>
                            break;
                        case 6:
                            <text>Junio</text>
                            break;
                        case 7:
                            <text>Julio</text>
                            break;
                        case 8:
                            <text>Agosto</text>
                            break;
                        case 9:
                            <text>Septiembre</text>
                            break;
                        case 10:
                            <text>Octubre</text>
                            break;
                        case 11:
                            <text>Noviembre</text>
                            break;
                        case 12:
                            <text>Diciembre</text>
                            break;
                        default:
                            <text>Mes no válido</text>
                            break;
                    }
                </td>
                <th>
                    <text>Pendiente</text>
                </th>
                <th>

                    <a href="@Url.Action("Edit", new { id = c.id })" class="badge rounded-pill bg-success" style="color:black">Pagar mi pendiente</a>
                </th>
            </tr>
        }

    </table>
</div>


<p>
    <a href="@Url.Action("IndexEstadosxMesxUsuario")" class="btn btn-info" style="color:black">Volver</a>


</p>

@if (ViewBag.NotificationMessage != null)
{
    <script>
            @Html.Raw(ViewBag.NotificationMessage)
    </script>
}