@model IEnumerable<Infraestructure.Models.plan_residencia>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de estados de cuenta</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.plan_cobro.detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario1.identificacion)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.detalle)
        <th>
            @Html.DisplayNameFor(model => model.plan_cobro.datePlan)
        </th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.plan_cobro.detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.residencia.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.plan_cobro.datePlan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
          
            @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
            @Html.ActionLink("Pagados", "Details", new { id = item.id }) |
            @Html.ActionLink("Pendientes", "Details", new { id = item.id }) 
     
        </td>
    </tr>
}

</table>
