@model IEnumerable<Infraestructure.Models.plan_residencia>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de estados de cuenta</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.planCobroId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.residenciaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.planCobroId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.residenciaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
