@model Infraestructure.Models.plan_cobro

@{ ViewBag.Title = "Details";

    decimal totalSum = 0;s

}

<br />

<br />
<center>   <h4 style="font-family:Broadway">Información detallada del plan de cobro</h4></center>
<hr />

<center>
    <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-header"><b> @Html.DisplayNameFor(model => model.detail): </b> @Html.DisplayFor(model => model.detail)</div>
        <div class="card-body">
            <p class="card-text">
                <i class="fa-regular fa-user"></i> <b>@Html.DisplayNameFor(model => model.datePlan):</b>
                <br />
                @Html.DisplayFor(model => model.datePlan)
            </p>
            <p class="card-text">
                <b>@Html.DisplayNameFor(model => model.total):</b>
                <br />
                @foreach (var c in Model.rubro_cobro)
                {

                    totalSum += Convert.ToDecimal(c.monto);


                }
                @string.Format("{0:C}", totalSum)
            </p>
            <p class="card-text">
                <i class="fa-solid fa-people-roof"></i><b>@Html.DisplayNameFor(model => model.rubro_cobro): </b>
                <br />
                <ul>
                    @foreach (var c in Model.rubro_cobro)
                    {
                        <li>@c.detalle</li>
                    }

                </ul>
            </p>

        </div>
    </div>
    <p>

        @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-outline-primary" })
    </p>
</center>
