@model Infraestructure.Models.plan_cobro

@{
    ViewBag.Title = "Details";
}



<div>
    <hr />
    <h4>Información detallada de plan cobro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(Model => Model.detail)
        </dt>

        <dd>
            @Html.DisplayFor(Model => Model.detail)
        </dd>

        <dt>
            @Html.DisplayNameFor(Model => Model.rubro_cobro)
            <ul>
                @foreach (var c in Model.rubro_cobro)
                {
                    <li>@c.detalle <p>₡@c.monto</p></li>
               

                }
            </ul>
        </dt>

        <dt>
            @Html.DisplayNameFor(Model => Model.total)
        </dt>
        <dd>
            @Html.DisplayFor(Model => Model.total)
        </dd>


    </dl>
</div>
<p>
   
    @Html.ActionLink("Volver a la lista", "Index")
</p>
