@model Infraestructure.Models.plan_cobro

@{
    ViewBag.Title = "Details";
}



<div>
    <hr />
    <h4>Información detallada de plan cobro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.detail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.rubro_cobro)
            <ul>
                @foreach (var c in Model.rubro_cobro)
                {
                    <li>@c.detalle</li>
                    <li>@c.monto</li>
                }
            </ul>
        </dt>


    </dl>
</div>
<p>
   
    @Html.ActionLink("Volver a la lista", "Index")
</p>
