@model Infraestructure.Models.plan_cobro

@{
    ViewBag.Title = "Details";

    var totalSum = Model.total;
    foreach (var c in Model.rubro_cobro)
    {
        totalSum += c.monto;
    }
}



<br />
<div>

    <center> <h4 style="font-family: Broadway">Información detallada de plan cobro</h4></center>

  <hr />


    <center>
    <div>
        
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.detail)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.detail)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.datePlan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.datePlan)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.total)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.total)
            </dd>

        </dl>
        

            <b>@Html.DisplayNameFor(model => model.rubro_cobro):</b>
            <ul>
                @foreach (var c in Model.rubro_cobro)
                {
                    <li>@c.detalle</li>
                }
            </ul>




    </div>
        </center>
    </div>
    <hr />
    <p>

        @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-outline-primary" })
    </p>
