@model IEnumerable<Infraestructure.Models.plan_cobro>

@{
    ViewBag.Title = "Lista Plan Cobro";

}


<br />
<center>
    <h4 style="font-family: Broadway">Planes de Cobro</h4>
</center>
<br />
<p>
    <a href="@Url.Action("Create", "planCobro")" type="button" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> Crear plan</a>
</p>

<table class="table table-hover">
    <tr class="table-dark">
        <th scope="row" style="grid-auto-rows: 5px">
            @Html.DisplayNameFor(model => model.id)
        </th>

        <th scope="row" style="grid-auto-rows: 5px">
         
            @Html.DisplayNameFor(model => model.detail)
        </th>
        <th scope="row" style="grid-auto-rows: 5px">
            @Html.DisplayNameFor(model => model.total)
        </th>
      

        <th>Por ver</th>

        <th>Por hacer</th>
    </tr>

    @foreach (var item in Model)
    {
        decimal totalSum = 0;

<tr class="table-secondary">
    <td style="column-width: 5px">
        @Html.DisplayFor(modelItem => item.id)
    </td>

    <td style="column-width: 5px">
        @Html.DisplayFor(modelItem => item.detail)
    </td>


    <td style="column-width: 5px;">
        @if (item.rubro_cobro != null && item.rubro_cobro.Any())
        {
            totalSum = item.rubro_cobro.Sum(c => Convert.ToDecimal(c.monto));
        }
        @string.Format("{0:C}", totalSum)
    </td>




    <td style="column-width: 5px">

        @Html.ActionLink("Detalle", "Details", new { id = item.id })

    </td>
    <td style="column-width: 5px">

        @Html.ActionLink("Actualizar", "Edit", new { id = item.id })

    </td>
</tr>
    }

</table>
