@model IEnumerable<Infraestructure.Models.plan_cobro>

@{
    ViewBag.Title = "Lista Plan Cobro";
}

<br />
<center>
    <h4 style="font-family: Broadway">Lista de Planes de Cobro</h4>
</center>
<br />


<table class="table table-hover">
    <tr class="table-primary">
        <th scope="row" style="column-width: 40px">
            @Html.DisplayNameFor(model => model.id)
        </th>

        <th scope="row">
            @Html.DisplayNameFor(model => model.detail)
        </th>




        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr class="table-secondary">
        <td >
            @Html.DisplayFor(modelItem => item.id)
        </td>

        <td >
            @Html.DisplayFor(modelItem => item.detail)
        </td>



        <td>

            @Html.ActionLink("Detalle", "Details", new { id = item.id })

        </td>
    </tr>
}

</table>
