@model IEnumerable<Infraestructure.Models.plan_residencia>

@{
   
    ViewBag.Title = "ReporteDeudas";
}
<br />
<br />
<table class="table">
    <tr class="table-dark">

        <th>
            @Html.DisplayNameFor(model => model.residencia.numeroCasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.plan_cobro.total)
        </th>

    </tr>

    @foreach (var item in Model)
    {
       
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.residencia.numeroCasa)
            </td>

            <th>
                @Html.DisplayFor(modelItem => item.detalle)
            </th>
            <th>
                @switch (item.fecha.Month)
                {
                    case 1:
                        <text>Enero</text>
                        break;
                    case 2:
                        <text>Febrero</text>
                        break;
                    case 3:
                        <text>Marzo</text>
                        break;
                    case 4:
                        <text>Abril</text>
                        break;
                    case 5:
                        <text>Mayo</text>
                        break;
                    case 6:
                        <text>Junio</text>
                        break;
                    case 7:
                        <text>Julio</text>
                        break;
                    case 8:
                        <text>Agosto</text>
                        break;
                    case 9:
                        <text>Septiembre</text>
                        break;
                    case 10:
                        <text>Octubre</text>
                        break;
                    case 11:
                        <text>Noviembre</text>
                        break;
                    case 12:
                        <text>Diciembre</text>
                        break;
                    default:
                        <text>Mes no válido</text>
                        break;
                }
            </th>
            <td>
                <text>Sin Pagar</text>
            </td>

            <td style="column-width: 5px;">

                @Html.DisplayFor(modelItem => item.plan_cobro.total)
            </td>

        </tr>
    }

</table>
<center>
    <div class="col-lg-2 col-md-4 col-sm-6">
        <button class="btn btn-primary" onclick="Descargar()"><i class="fa-solid fa-magnifying-glass"></i> Descargar PDF</button>
    </div>
</center>