@model IEnumerable<Infraestructure.Models.plan_residencia>

@{
    decimal totalSum = 0;
    ViewBag.Title = "ReporteDeudas";
}
<br />
<center><h3 style="font-family: Broadway">Reporte de deudas</h3></center>
<br />
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.residencia.numeroCasa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha.Month)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.plan_cobro.total)
        </th>

    </tr>

@foreach (var c in ViewBag.EstadosPendientes) {
<tr>
    <td>
        @c.residencia.numeroCasa
    </td>

    <th>
        @c.detalle
    </th>
    <th>
        @switch (@c.fecha.Month)
        {
            case 1:
                <text>Enero</text>
                break;
            case 2:
                <text>Febrero</text>
                break;
            case 3:
                <text>Marzo</text>
                break;
            case 4:
                <text>Abril</text>
                break;
            case 5:
                <text>Mayo</text>
                break;
            case 6:
                <text>Junio</text>
                break;
            case 7:
                <text>Julio</text>
                break;
            case 8:
                <text>Agosto</text>
                break;
            case 9:
                <text>Septiembre</text>
                break;
            case 10:
                <text>Octubre</text>
                break;
            case 11:
                <text>Noviembre</text>
                break;
            case 12:
                <text>Diciembre</text>
                break;
            default:
                <text>Mes no válido</text>
                break;
        }
    </th>
    <td>
        <text>Sin Pagar</text>
    </td>

    <td style="column-width: 5px;">
        @{

            if (c.plan_cobro.rubro_cobro != null)
            {
                foreach (var item in c.plan_cobro.rubro_cobro)
                {
                    totalSum += Convert.ToDecimal(item.monto);
                }
            }
        }
        @string.Format("{0:C}", totalSum)
    </td>

</tr>
}

</table>
<center><p>
    @Html.ActionLink("Descargar Reporte PDF", "CreatePdfLibroCatalogo", "Reporte", null, new { @class = "btn btn-primary" })
</p></center>