@model IEnumerable<Infraestructure.Models.rubro_cobro>

@{
    ViewBag.Title = "Index";
}

<br />
<center>
    <h3 style="font-family: Broadway">Rubros</h3>
</center>


<p>
    <a href="@Url.Action("Create", "rubroCobro")" type="button" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> Crear rubro</a>
</p>
<table class="table">
    <tr class="table-dark">
        <th>
            @Html.DisplayNameFor(model => model.detalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>Por hacer</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.detalle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto)
            </td>
            <td>
                @if (item.estado == 1)
                {
                    <text>Activo</text> }
                else
                {
                    <text>Inactivo</text>}

            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id })

            </td>
        </tr>
    }

</table>
