@model Infraestructure.Models.residencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>residencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.individualsNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.individualsNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.annio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.annio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otherInfoDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otherInfoDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroCasa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroCasa)
        </dd>

    </dl>
</div>


<h2>Detalle Libro</h2>

<div>
    <h4>Residencia</h4>
    <hr />

    <div class="row row-cols-2 g-3">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">

                    <div class="col-md-8">
                        <div class="card-body">
                            <span class="card-title" style="font-size: 25px; font-weight: 500; line-height: 1.2">@Html.DisplayFor(model => model.numeroCasa)</span>
                            <p class="card-text" style="color: #E45641; font-weight: 500;">
                                @Html.DisplayFor(model => model.estado)
                            </p>
                            <p class="card-text">
                                <i class="fa-solid fa-box"> </i> <b>@Html.DisplayNameFor(model => model.individualsNumber):</b>  @Html.DisplayFor(model => model.individualsNumber)
                            </p>
                            @*  <p class="card-text">
                                    <i class="fa-solid fa-circle-user"></i> <b>@Html.DisplayNameFor(model => model.usuario):</b>    @Html.DisplayFor(model => model.usuario.)
                                </p>*@

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
