@model IEnumerable<Infraestructure.Models.residencia>

@{
    ViewBag.Title = "Residencias";
}


<br />
<center>
    <h3 style="font-family: Broadway">Residencias</h3>
</center>
<br />
<center>
    <div class="col-lg-9">

        <div id="resultado" class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-3">
                    <div class="card border-light mb-3" style="max-width: 20rem; ">
                        <div class="card-header"> <b>@Html.DisplayNameFor(model => model.numeroCasa):</b>  @Html.DisplayFor(modelItem => item.numeroCasa)</div>
                       
                        <p class="card-text">
                            <i class="fa-solid fa-user"></i> <b>@Html.DisplayNameFor(model => model.usuario1.identificacion):</b>  @Html.DisplayFor(modelItem => item.usuario1.identificacion)
                        </p>
                        <p class="card-text">
                            <i class="fa-solid fa-people-roof"></i> <b>@Html.DisplayNameFor(model => model.individualsNumber):</b>@Html.DisplayFor(modelItem => item.individualsNumber)
                        </p>


                        <a href="@Url.Action("Details", "residencia", new { id = item.id })" class="btn btn-primary"><i class="fa-solid fa-circle-info"></i> Detalle</a>
                        @*@Html.ActionLink("Details", "Details", new { id = item.IdLibro }) |*@

                    </div>
                </div>
            }
        </div>

    </div>
</center>


