@model IEnumerable<Infraestructure.Models.usuario>

@{
    ViewBag.Title = "Usuarios Activos";
}

<br />
<center><h4 style="font-family:Broadway">Usuarios</h4></center>
<hr />
<p>
    <a href="@Url.Action("Create", "usuario")" type="button" class="btn btn-outline-primary"><i class="fa-solid fa-plus"></i> Crear</a>
</p>
<table class="table">
    <tr class="table-dark">
        <th>
            @Html.DisplayNameFor(model => model.rolId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.identificacion)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>

        <th>Eliminar</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @if (item.rolId == 1)
                {
                    <text>Administrador</text>
                }
                else
                {
                    <text>Residente</text>

                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefono)
            </td>
            <td>
<<<<<<< Updated upstream
                <a href="@Url.Action("Edit", new { id = item.identificacion })" class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
=======
                <a href="@Url.Action("Edit", "usuario" , new { id=item.identificacion })" class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>             
>>>>>>> Stashed changes
            </td>
        </tr>
    }

</table>

@if (ViewBag.NotificationMessage != null)
{
    <script>
<<<<<<< Updated upstream
        swal('@ViewBag.NotificationMessage.Title', '@ViewBag.NotificationMessage.Message', '@ViewBag.NotificationMessage.Type');
    </script>
}
=======
            @Html.Raw(ViewBag.NotificationMessage)
    </script>
}

>>>>>>> Stashed changes
