@model IEnumerable<Infraestructure.Models.incidente>

@{
    ViewBag.Title = "Index";
}
<br />

<table class="table table-hover">
    <tr class="table-dark">

        <th>
            @Html.DisplayNameFor(model => model.usuario1.identificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detalle)
        </th>
        <th>Por hacer</th>
    </tr>

    @foreach (var item in Model)
    {
<tr class="table-secondary">
    <td>
        @Html.DisplayFor(modelItem => item.usuario1.identificacion)
    </td>
    <td>
        @if (item.estado == 1)
        {
            <text>Pendiente</text> }
        else
        {
            <text>Resuelta</text>}
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.detalle)
    </td>
    <td>

        @Html.ActionLink("Actualizar", "Edit", new { id = item.id })
    </td>
</tr>
    }

</table>
