@model Infraestructure.Models.incidente

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm("Save", "incidencia", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <div class="card bg-dark">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">Nueva Incidencia</h4>
                    </div>
                    <div class="card-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <br />

                        <div class="form-group row">
                            @Html.LabelFor(model => model.tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.tipo,
                                   (SelectList)ViewBag.tipos,
                                   "Seleccione un tipo",
                                   htmlAttributes: new { @class = "form-control editor-outline", @id = "tipo" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.detalle, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.detalle, new { htmlAttributes = new { @class = "form-control editor-outline" } })
                                @Html.ValidationMessageFor(model => model.detalle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-3">
                                <button type="submit" class="btn btn-outline-primary btn-sm">Guardar</button>                             
                                @Html.ActionLink("Regresar", "Index", "Home", null, new { @class = "btn btn-primary" })

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $("#tipo").on("change", function () {
            Filtrar();
        });

    </script>
}
@if (ViewBag.NotificationMessage != null)
{
    <script>
            @Html.Raw(ViewBag.NotificationMessage)
    </script>
}

<style>
    .editor-outline {
        outline: 2px solid #0094ff; /* change to your desired color */
    }
</style>