@model Infraestructure.Models.incidente

@{
    ViewBag.Title = "Edit";
}




@using (Html.BeginForm("Edit", "incidencia", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <br />
    <div class="form-horizontal">
        <center><h4 style="color:red">Estado Modificado Correctamente!</h4></center>

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.estado == 1)
                {
                    <text>Pendiente</text> }
                else
                {
                    <text>Resuelta</text>
                    @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                }
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.detalle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.detalle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.detalle, "", new { @class = "text-danger" })
            </div>
        </div>


    </div>
}
<br />
<hr />
<div class="form-group">
    <div class="btn-group" role="group">
        @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
