@model Infraestructure.Models.areaComun

@{
    ViewBag.Title = "Details";
}


<br />
<center>   <h4>Area Común</h4></center>
<hr />

<center>
    <div class="card border-light mb-3" style="max-width: 20rem;">
        <div class="card-header"><b> @Html.DisplayNameFor(model => model.detalle): </b> @Html.DisplayFor(model => model.detalle)</div>
        <div class="card-body">
            <p class="card-text">
                <i class="fa-regular fa-user"></i> <b>@Html.DisplayNameFor(model => model.disponibilidad):</b>
                <br />
                @Html.DisplayFor(model => model.disponibilidad)
            </p>
            <p class="card-text">
                <b>@Html.DisplayNameFor(model => model.fechaDisponible):</b>
                <br />
                @Html.DisplayFor(model => model.fechaDisponible)
            </p>
            <p class="card-text">
                <i class="fa-solid fa-people-roof"></i><b>@Html.DisplayNameFor(model => model.horaDisponible): </b>
                <br />
                @Html.DisplayFor(model => model.horaDisponible)
            </p>

            <p class="card-text" style="font-weight: 500;">
                <i class="fa-solid fa-circle-user"></i>
                <b>@Html.DisplayNameFor(model => model.estado):</b>
                @if (Model.estado == 1)
                {
                    <text>Sin Reservar</text> }
                else
                {
                    <text>Reservado</text>}
            </p>
        </div>
    </div>
    <p>

        @Html.ActionLink("Regresar al listado", "Index", null, new { @class = "btn btn-outline-primary" })
    </p>
</center>


